// Body
$body-bg: #FFF;
$body-color: #090b0f;

// Colors
$primary: #090b0f;
$primary-light: #595959;
$secondary: #3076d7;
$secondary-light: #86b9ff;

$custom-colors: (
    "primary-light": $primary-light,
    "secondary-light": $secondary-light
);

// Text
$font-family-base: "Poppins", sans-serif;
$font-size-base: 1rem;
$font-weight-base: 400;

$line-height-base: 1.5;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

// Typography
$headings-margin-bottom: 1rem; // $spacer * .5
$headings-font-family: null;
$headings-font-style: null;
$headings-font-weight: 500;
$headings-line-height: 1.2;
$headings-color: inherit;

$small-font-size: .875em;

// Buttons
$btn-padding-y: 0.5rem;
$btn-padding-x: 1.25rem;
$btn-font-size: $font-size-base * 0.875;